.navbar .navbar-nav .nav-link{
    padding-left:4px !important;
    padding-right:4px !important;
}
button{
    background-color:#bf40bf !important;
    color:#fff !important;
}
.video-section .card:hover{
    transform:translateY(0%);
}
time{
font-size:12px;
padding-right:3px;
padding-left: 3px;;
}
@media(max-width:555px){
.navbar .nav-link{
    font-size:15px;
    margin-left: 8px !important;
}
.card .card-icon .fa-play{
right:44%;
}
}
